name: Publish dev
on:
  push:
    branches:
      - hot-fix-publish-images

jobs:
  compute-docker-tag:
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{ steps.compute-tag.outputs.docker_tag }}
    steps:
      - uses: actions/checkout@v5
      - name: Compute new docker image tag
        id: compute-tag
        run: |
          echo "sha_short=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"
          echo "branch=$(echo ${GITHUB_REF_NAME})" >> "$GITHUB_ENV"
          echo "docker_tag=$(echo ${GITHUB_REF_NAME})-$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_OUTPUT"
  publish_image:
    needs: compute-docker-tag
    uses: AlleNeuralDynamics/.github/.github/workflows/release-publish-docker-image.yml@main
    with:
      default-branch: dev
      docker-tag: ${{ needs.compute-docker-tag.outputs.docker_tag }}
    secrets:
      repo-token: ${{ secrets.GITHUB_TOKEN }}
  update_ecs_service:
    runs-on: ubuntu-latest
    needs: publish_image
    permissions:
      id-token: write
      contents: read
    env:
      AWS_IAM_ROLE: ${{ secrets.AWS_IAM_ROLE_DEV }}
      AWS_REGION : ${{ vars.AWS_REGION }}
      AWS_ECS_CLUSTER : ${{ vars.AWS_ECS_CLUSTER_DEV }}
      AWS_ECS_SERVICE : ${{ vars.AWS_ECS_SERVICE_DEV }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ env.AWS_IAM_ROLE }}
          role-session-name: github-ecs-update-service
          aws-region: ${{ env.AWS_REGION }}
      - name: Update ECS service
        run: |
          python -m pip install awscli
          aws ecs update-service --cluster $AWS_ECS_CLUSTER --service $AWS_ECS_SERVICE --force-new-deployment
